.works {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  h1 {
    text-align: center;
  }
  p {
    margin-top: 40px;
  }
  .btn-work {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
    min-width: 100px;
    margin-top: 40px;
    &:focus {
      outline: none;
    }
  }
}
